# Cleaning of the Sunshine List

In [1]:
#import dependencies
import pandas as pd

In [2]:
#File to Load 1996 t0 2019 to be used as dummy data
sunshine_data_to_load = "SunShine.csv"

In [ ]:
#File to load 2020
# sunshine_2020_to_load="2021_SunshineTest.csv"

# https://files.ontario.ca/pssd/2020/tbs-pssd-compendium-2020-en-utf-8-2022-01-10.json

In [ ]:
# merge all 3 files above into 1 DataFrame

In [4]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
# sunshine_data_df = pd.read_csv(sunshine_data_to_load)
sunshine_data_df = pd.read_csv(sunshine_data_to_load)

#display the data table for preview
sunshine_data_df.head()

,Sector,Last Name,First Name,Salary Paid,Taxable Benefits,Employer,Job Title,Calendar Year
0,COLLEGES,Gillett,Robert,127332.0,3633.0,Algonquin College of Applied Arts and Technology,President,1996
1,COLLEGES,Hanson,Raymonde,102999.0,5557.0,Algonquin College of Applied Arts and Technology,"V.P., Academic",1996
2,COLLEGES,Killeen,Philip,183482.0,878.0,Algonquin College of Applied Arts and Technology,Past President,1996
3,COLLEGES,Mitchelson,Robert,106608.0,5586.0,Algonquin College of Applied Arts and Technology,"V.P., Finance & Administration",1996
4,COLLEGES,Crombie,Glenn,111655.0,3177.0,Cambrian College of Applied Arts & Technology,President,1996

In [5]:
#review data types
sunshine_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470706 entries, 0 to 1470705
Data columns (total 8 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Sector            1470706 non-null  object
 1   Last Name         1470706 non-null  object
 2   First Name        1470703 non-null  object
 3   Salary Paid       1470706 non-null  float64
 4   Taxable Benefits  1470706 non-null  float64
 5   Employer          1470706 non-null  object
 6   Job Title         1470706 non-null  object
 7   Calendar Year     1470706 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 89.8+ MB

In [6]:
#find null values
for column in sunshine_data_df.columns:
    print(f"Column {column} has {sunshine_data_df[column].isnull().sum()}null values")

Column Sector has 0null values
Column Last Name has 0null values
Column First Name has 3null values
Column Salary Paid has 0null values
Column Taxable Benefits has 0null values
Column Employer has 0null values
Column Job Title has 0null values
Column Calendar Year has 0null values

In [7]:
# Drop all rows with missing information
sunshine_data_df = sunshine_data_df.dropna(how='any')

In [8]:
# check that there are no null values
for column in sunshine_data_df.columns:
    print(f"Column {column} has {sunshine_data_df[column].isnull().sum()}null values")

Column Sector has 0null values
Column Last Name has 0null values
Column First Name has 0null values
Column Salary Paid has 0null values
Column Taxable Benefits has 0null values
Column Employer has 0null values
Column Job Title has 0null values
Column Calendar Year has 0null values

In [10]:
# sunshine_data_df['First Name'].str.lower()  ## for consolidated 1996 to 2019
sunshine_data_df['First Name'].str.lower()

0            robert
1          raymonde
2            philip
3            robert
4             glenn
             ...
1470701     georg r
1470702     michael
1470703      peer c
1470704      detlev
1470705        joel
Name: First Name, Length: 1470703, dtype: object

In [ ]:
#Change Salary to numeric
# Use pd.to_numeric() method to convert the datatype of the Amount column
# df['Amount'] = pd.to_numeric(df['Amount'])
sunshine_data_df['Salary'] = sunshine_data_df['Salary'].astype(str). astype(int)

# Clean First Name Column

In [ ]:
#Create an Original First Name column

In [14]:
# Display an overview of the First Name column...view with all lower case
# Do a count on all first names
# first_count=sunshine_data_df['First Name'].str.lower().value_counts()
first_count=sunshine_data_df['First Name'].str.lower().value_counts()
first_count

david        27551
john         26541
michael      26074
robert       21602
paul         16261
             ...
olu              1
jl               1
lise-anne        1
shems            1
arda             1
Name: First Name, Length: 62548, dtype: int64

In [15]:
# Creating a new DataFrame using both duration and count
# urban_ride_count=urban_cities_df.groupby(["city"]).count()["ride_id"]
# first_name_count=sunshine_data_df.groupby(["First Name"]).count()["First Name"]
first_name_table = pd.DataFrame({"first_name_counts": first_count})
first_name_table

           first_name_counts
david                  27551
john                   26541
michael                26074
robert                 21602
paul                   16261
...                      ...
olu                        1
jl                         1
lise-anne                  1
shems                      1
arda                       1

[62548 rows x 1 columns]

In [ ]:
#Copy First Name column and create a Clean_first_name columns 1 and 2#### figure out code to copy an entire column
sunshine_data_df.insert(2,"first_name_clean_1", str, allow_duplicates=False)
sunshine_data_df.head()

In [ ]:
# Review first name character count to clean all 1st names with initials only, first name with initials etc.
#1) where 1 letter, make separate df for cleansing - use history with last name + first initial( + job title) to correct for first name
#2) where 2 letters, review for valid first name Example Ed, add to separate df for cleansing usig above logic to correct where possible
#3) where letter followed with ".", add to separate df for cleansing usig above logic to correct where possible

In [ ]:
# # Cleaning First Name with titles and Replacing Substrings in a Python String
# # Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["dr. ", "dr ","-", "jr. ",".", "ms. ", "md. ", "mr. ", "(dr)", "(", ")"]

# # Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    sunshine_data_df["First Name"] = sunshine_data_df["First Name"].str.replace(word,"")

In [ ]:
#Create new column called sector category.  Update columns based on sector matching

In [ ]:
#review unique sector to make categories to match NAICS
sunshine_data_df['Sector'].unique()

In [ ]:
#Perform first name cleansing activities

In [ ]:
#Create LastName_FirstName concatenation column ## changed to match 2020 csv
sunshine_data_df["Last_First_Name"]=sunshine_data_df["Last name"]+"_"+sunshine_data_df["First name"]
sunshine_data_df.head()

In [ ]:
#review job_title
job_title=sunshine_data_df['Job Title'].unique().tolist()
job_title

In [ ]:
# Create Empty Gender, Age, City Location columns ******how do you assign datatype????*****
# sunshine_data_df.insert(4,"Age", float, allow_duplicates=False)
# sunshine_data_df.insert(2,"Gender", str, allow_duplicates=False)
sunshine_data_df.head()
sunshine_data_df.dtypes

In [ ]:
sunshine_data_df.insert(2,"Gender", str, allow_duplicates=False)
sunshine_data_df.head()

In [ ]:
sunshine_data_df.insert(9,"City", str, allow_duplicates=False)
sunshine_data_df.head()

In [ ]:
#Verify no duplicate entries of LastName_FirstName + year + title + employer
#need to rewrite code

print(f'Duplicate entries: {sunshine_data_df().sum()}')

In [ ]:
#Format salary to iclude $  and ,

In [ ]:
# Reorder the columns in the sunshine_data DataFrame.
sunshine_data_df = sunshine_data_df.reindex(columns=['Calendar Year','Sector' ,'employer', 'Job title','Last_First_Name', 'Last Name', 'First name', 'first_name_clean','Salary', 'Benefits'])

In [ ]:
# Rename the columns in the sunshine_data DataFrame.### changed to match 2020 data
sunshine_data_df.rename({'Calendar Year':'year',
                      'Sector':'sector',
                      'Employer': 'employer',
                      'Job title':'job_title',
                      'Last_First_Name':'last_first_name',
                      'Last Name': 'last_name',
                      'First name':'first_name',
                      'first_name_clean':'first_name_clean',
                      'Last_First_Name':'last_first_name',
                      'Salary':'salary_paid',
                      'Benefits':'taxable_benefits'
                    }, axis='columns', inplace=True)

In [ ]:
# Export to csv 
sunshine_data_df.to_csv("Clean_SunShine.csv")
sunshine_data_df.head()