# Sunshine List

In [1]:
# Cleaning of the Sunshine List
#import dependencies
import pandas as pd
import re

In [2]:
#File to Load 1996 t0 2019 to be used as dummy data
sunshine_data_to_load = "SunShine.csv"

In [3]:
# ***TO DO***
# Add sunshine 2020 csv to sunshine_data_df

In [4]:
# Create a DataFrame for the Sunshine data. 
sunshine_data_df = pd.read_csv(sunshine_data_to_load)

#display the data table for preview
sunshine_data_df.head()

,Sector,Last Name,First Name,Salary Paid,Taxable Benefits,Employer,Job Title,Calendar Year
0,COLLEGES,Gillett,Robert,127332.0,3633.0,Algonquin College of Applied Arts and Technology,President,1996
1,COLLEGES,Hanson,Raymonde,102999.0,5557.0,Algonquin College of Applied Arts and Technology,"V.P., Academic",1996
2,COLLEGES,Killeen,Philip,183482.0,878.0,Algonquin College of Applied Arts and Technology,Past President,1996
3,COLLEGES,Mitchelson,Robert,106608.0,5586.0,Algonquin College of Applied Arts and Technology,"V.P., Finance & Administration",1996
4,COLLEGES,Crombie,Glenn,111655.0,3177.0,Cambrian College of Applied Arts & Technology,President,1996

In [5]:
#review data types
sunshine_data_df.info()
sunshine_data_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470706 entries, 0 to 1470705
Data columns (total 8 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Sector            1470706 non-null  object
 1   Last Name         1470706 non-null  object
 2   First Name        1470703 non-null  object
 3   Salary Paid       1470706 non-null  float64
 4   Taxable Benefits  1470706 non-null  float64
 5   Employer          1470706 non-null  object
 6   Job Title         1470706 non-null  object
 7   Calendar Year     1470706 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 89.8+ MB

(1470706, 8)

In [6]:
#find null values
for column in sunshine_data_df.columns:
    print(f"Column {column} has {sunshine_data_df[column].isnull().sum()}null values")

Column Sector has 0null values
Column Last Name has 0null values
Column First Name has 3null values
Column Salary Paid has 0null values
Column Taxable Benefits has 0null values
Column Employer has 0null values
Column Job Title has 0null values
Column Calendar Year has 0null values

In [7]:
# Drop all rows with missing information
sunshine_data_df = sunshine_data_df.dropna(how='any')

In [8]:
# check that there are no null values
for column in sunshine_data_df.columns:
    print(f"Column {column} has {sunshine_data_df[column].isnull().sum()}null values")

Column Sector has 0null values
Column Last Name has 0null values
Column First Name has 0null values
Column Salary Paid has 0null values
Column Taxable Benefits has 0null values
Column Employer has 0null values
Column Job Title has 0null values
Column Calendar Year has 0null values

In [9]:
#Do we need this....Salary Paid is originally a FLOAT



# #Change Salary to numeric
# # Use pd.to_numeric() method to convert the datatype of the Amount column
# # df['Amount'] = pd.to_numeric(df['Amount'])
# sunshine_data_df['Salary Paid'] = sunshine_data_df['Salary Paid'].astype(str). astype(float)

In [10]:
# sunshine_data_df.info()

# Sector column data cleansing¶

In [11]:
#Review the various categories in Sector column
sunshine_data_df['Sector'].value_counts()

Municipalities and Services                        272130
Universities                                       239373
School Boards                                      188239
Hospitals and Boards of Public Health              118189
Hydro One and Ontario Power Generation             113612
                                                    ...
Seconded (Children and Youth Services)                  1
Seconded (Training, Colleges and Universities)*         1
Seconded (Transportation)*                              1
Seconded (Labour)                                       1
Seconded (Economic Development and Innovation)*         1
Name: Sector, Length: 74, dtype: int64

In [12]:
#Rename all sector's starting with 'seconded' to 'Othe Public Sector'

sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('Seconded', case=False), 'Sector'] = 'Public Sector'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('Other Public', case=False), 'Sector'] = 'Public Sector'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('Public Service', case=False), 'Sector'] = 'Public Sector'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('Government of Ontario', case=False), 'Sector'] = 'Government of Ontario'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('Universiti', case=False), 'Sector'] = 'Post Secondary'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('College', case=False), 'Sector'] = 'Post Secondary'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('Hospital', case=False), 'Sector'] = 'Hospitals'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('School', case=False), 'Sector'] = 'Schools'
sunshine_data_df.loc[sunshine_data_df['Sector'].str.contains('Municipal', case=False), 'Sector'] = 'Municipalitites'

In [13]:
# Clean up Sector category. Replace 'Self Employed' and 'Self' with 'Self-Employed'
sunshine_data_df['Sector'] = sunshine_data_df['Sector'].replace({'Hydro One & Ontario Power Generation':'Hydro/OPG',
                                                                 'Hydro One and Ontario Power Generation':'Hydro/OPG',
                                                                 'Ontario Power Generation':'Hydro/OPG',
                                                                 'CROWN AGENCIES':'Crown Agencies'    
    })

# Employer column data cleansing

In [14]:
#Review the various categories in Sector column
sunshine_data_df['Employer'].value_counts()

Ontario Power Generation                           129110
University of Toronto                               47240
City of Toronto                                     46561
City of Toronto - Police Service                    36985
Hydro One                                           32331
                                                    ...
John Howard Society Of Ottawa                           1
Jewish Voc.-Srvcs, Metro Toronto                        1
Thunder Bay Comm. Economic Dev. Commission Inc.         1
The Institute for Space and Terrestrial Science         1
Ontario BioAuto Council                                 1
Name: Employer, Length: 8305, dtype: int64

In [15]:
#Clean and Rename Employers

sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Accessible Community Counselling', case=False), 'Employer'] = 'Accessible Community Counselling & Employment Services'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Aboriginal Affairs', case=False), 'Employer'] = 'Aboriginal Affairs'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Agriculture', case=False), 'Employer'] = 'Agriculture, Food & Rural Affairs'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Algonquin Opportunity', case=False), 'Employer'] = 'Algonquin Opportunity (No 2) Corporation'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Algonquin Opportunity', case=False), 'Employer'] = 'Algonquin Opportunity (No 2) Corporation'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Alzheimer Society', case=False), 'Employer'] = 'Alzheimer Society'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Canadian Mental Health', case=False), 'Employer'] = 'Canadian Mental Health Association'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Canadian Red Cross', case=False), 'Employer'] = 'Canadian Red Cross'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('CAS', case=False), 'Employer'] = 'CAS'
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('Catholic Children', case=False), 'Employer'] = "Catholic Children's Aid Society"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains('CCAC', case=False), 'Employer'] = "CCAC"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Children's Aid Soc", case=False), 'Employer'] = "Children's Aid Society"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Citizenship", case=False), 'Employer'] = "Citizenship & Immigration"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Victorian Order ", case=False), 'Employer'] = "Victorian Order of Nurses"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("YMCA ", case=False), 'Employer'] = "YMCA"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("John Howard Society ", case=False), 'Employer'] = "The John Howard Society"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Sunnybrook", case=False), 'Employer'] = "Sunnybrook Hospital"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("St. Peter", case=False), 'Employer'] = "St. Peter's Hospital"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Stevenson Memorial Hospital", case=False), 'Employer'] = "Stevenson Memorial Hospital"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("St. Demetrius", case=False), 'Employer'] = "St. Demetrius (Ukrainian Catholic) Development Corp."
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("St. Alban", case=False), 'Employer'] = "St. Alban's Boys' & Girls' Club"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Sport Alliance", case=False), 'Employer'] = "Sport Alliance of Ontario"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Southlake Regional", case=False), 'Employer'] = "Southlake Regional Health Centre"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Gaming Commission", case=False), 'Employer'] = "Alcohol & Gaming Commission of Ontario"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Algonquin Forest", case=False), 'Employer'] = "Algonquin Forest Authority"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Amity Goodwill", case=False), 'Employer'] = "Amity Goodwill Industries"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Assessment Review", case=False), 'Employer'] = "Assessment Review Board"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Association Franco-Ont", case=False), 'Employer'] = "Association Franco-Ontarienne Des Conseils Scolaire Catholiques"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Barbara Black", case=False), 'Employer'] = "Barbara Black Centre for Youth Res."
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Bellwoods Centres", case=False), 'Employer'] = "Bellwoods Centres for Community Living Incorporated"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Big Brothers", case=False), 'Employer'] = "Big Brothers Big Sisters of Canada"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("BioDiscovery", case=False), 'Employer'] = "BioDiscovery Toronto Incorporated"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Bloorview MacMillan", case=False), 'Employer'] = "Bloorview MacMillan Children's Centre"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Board of Health", case=False), 'Employer'] = "Board of Health"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Cambrian", case=False), 'Employer'] = "Cambrian College of Applied Arts & Technology"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Hearing Society", case=False), 'Employer'] = "Canadian Hearing Society"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Paraplegic ", case=False), 'Employer'] = "Canadian Paraplegic Association Ont."
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Canadore ", case=False), 'Employer'] = "Canadore College of Applied Arts and Technology"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Carlington Community ", case=False), 'Employer'] = "Carlington Community Health Centre"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Catholic Children's Aid", case=False), 'Employer'] = "CCAC"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Catholic C.A.S", case=False), 'Employer'] = "CCAC"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Centennial", case=False), 'Employer'] = "Centennial College Of Applied Arts and Technology"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Central Toronto Comm", case=False), 'Employer'] = "Central Toronto Community Health Centres"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains(" Spanish", case=False), 'Employer'] = "Centre for Spanish Speaking Peoples"
sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("Centretown Community", case=False), 'Employer'] = "Centretown Community Health Centre Inc."
# sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("City of Barrie", case=False), 'Employer'] = "City of Barrie"
# sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("City of Brampton", case=False), 'Employer'] = "City of Brampton"
# sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("City of London", case=False), 'Employer'] = "City of London"
# sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("City of Ottawa", case=False), 'Employer'] = "City of Ottawa"
# sunshine_data_df.loc[sunshine_data_df['Employer'].str.contains("City of Toronto", case=False), 'Employer'] = "City of Toronto"

# Job Title column data cleansing

In [16]:
#Review the various categories in Job Title column
sunshine_data_df['Job Title'].value_counts()

Professor                                                                                                                                 64251
Associate Professor                                                                                                                       43012
Registered Nurse                                                                                                                          29904
Constable                                                                                                                                 27450
Police Constable                                                                                                                          23263
                                                                                                                                          ...
Clinical Support Supervisor/Superviseur du soutien clinique                                                                                   1
Director, Strategic Planning & Enterprise Risk Management / Directrice, planification stratégique et gestion du risque de l`entreprise        1
Manager of Finance/Directeur Des Finances                                                                                                     1
Coordinating Principal - Special Education - Autism Spectrum Disorder                                                                         1
Information and Information Strategic Planning Advisor                                                                                        1
Name: Job Title, Length: 166161, dtype: int64

In [17]:
#Clean and Rename Job Title

sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Chair', case=False), 'Job Title'] = 'Chair'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Dean', case=False), 'Job Title'] = 'Dean'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Director', case=False), 'Job Title'] = 'Director'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Account Exe', case=False), 'Job Title'] = 'Account Manager'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Account Manager', case=False), 'Job Title'] = 'Account Manager'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Account R', case=False), 'Job Title'] = 'Account Manager'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Accountant', case=False), 'Job Title'] = 'Accountant'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('CEO', case=False), 'Job Title'] = 'CEO'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('CFO', case=False), 'Job Title'] = 'CFO'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Chief E', case=False), 'Job Title'] = 'CEO'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Chief F', case=False), 'Job Title'] = 'CFO'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Commissioner', case=False), 'Job Title'] = 'Commissioner'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('President', case=False), 'Job Title'] = 'President'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Vice President', case=False), 'Job Title'] = 'VP'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('VP', case=False), 'Job Title'] = 'VP'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('V.P', case=False), 'Job Title'] = 'VP'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Vice P', case=False), 'Job Title'] = 'Vice Principal'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Superintendent', case=False), 'Job Title'] = 'Superintendent'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Nurse P', case=False), 'Job Title'] = 'Nurse Practitioner'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Registered Nurse', case=False), 'Job Title'] = 'Nurse'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Administrator', case=False), 'Job Title'] = 'Administrator'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Teacher', case=False), 'Job Title'] = 'Teacher'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Paramedic', case=False), 'Job Title'] = 'Paramedic'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Physio', case=False), 'Job Title'] = 'Physiotherapist'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Physio', case=False), 'Job Title'] = 'Physiotherapist'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Supervisor', case=False), 'Job Title'] = 'Supervisor'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Technologist', case=False), 'Job Title'] = 'Technologist'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Practice Nurse', case=False), 'Job Title'] = 'Nurse'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Practice Resource Nurse', case=False), 'Job Title'] = 'Nurse'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Advisor', case=False), 'Job Title'] = 'Advisor'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Engineer', case=False), 'Job Title'] = 'Engineer'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Analyst', case=False), 'Job Title'] = 'Analyst'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Assistant Deputy Minister', case=False),'Job Title'] ='Assistant Deputy Minister'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Professor', case=False),'Job Title'] ='Professor'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Principal', case=False),'Job Title'] ='Principal'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Physician', case=False),'Job Title'] ='Physician'
sunshine_data_df.loc[sunshine_data_df['Job Title'].str.contains('Assoc Prof', case=False),'Job Title'] ='Associate Professor'

# First Name column data cleansing

In [18]:
# Convert all sunshine_data_df['First Name'] to str.lower()
# df['Fruits'] = df['Fruits'].str.lower()
sunshine_data_df['First Name']=sunshine_data_df['First Name'].str.lower()

In [19]:
#copy 'First Name' column and create 'Clean First Name' column and 'Clean Alt First Name'
sunshine_data_df['clean_first_name'] = sunshine_data_df['First Name']
sunshine_data_df['clean_alt_first_name'] = sunshine_data_df['First Name']

# get the length of the First Name column in a dataframe
sunshine_data_df['name_length'] = sunshine_data_df['First Name'].map(str).apply(len)

In [20]:
sunshine_data_df.sample(10)

,Sector,Last Name,First Name,Salary Paid,Taxable Benefits,Employer,Job Title,Calendar Year,clean_first_name,clean_alt_first_name,name_length
442017,Municipalitites,MURTAGH,thomas,114956.18,590.22,City of Ottawa,Fire Captain,2011,thomas,thomas,6
1073618,Municipalitites,Yacuik,lori,100307.39,0.00,City of Thunder Bay,Registered Practical Nurse,2017,lori,lori,4
414725,Government of Ontario,THOMAS,brenda,112057.26,86.28,Comm. Safety & Corr. Services / Sécurité com. ...,Forensics / Investigations,2011,brenda,brenda,6
1123636,Schools,Watkins,ron,102329.17,0.00,Ottawa-Carleton District School Board,Teacher,2017,ron,ron,3
902259,Crown Agencies,Chan,henry,124565.65,1915.45,Liquor Control Board of Ontario,Inventory Manager/ Chef de l'inventaire,2016,henry,henry,5
905443,Crown Agencies,Kimevski,mary-anne,106760.41,1837.67,Workplace Safety and Insurance Board,Appeals Resolution Officer / Commissaire aux a...,2016,mary-anne,mary-anne,9
479539,Post Secondary,VITKAUSKAS,cathy,116987.35,9262.15,University of Western Ontario,Director,2011,cathy,cathy,5
1114575,Public Sector,Gibson,john,222005.11,486.83,The Four Villages Community Health Centre,Physician,2017,john,john,4
7876,Public Sector,Pollett,graham,144210.00,387.00,Middlesex-London Health Unit,Medical Officer of Health,1997,graham,graham,6
1036750,Government of Ontario,Parsons,samuel,105863.38,140.52,Community Safety and Correctional Services / S...,Law Enforcement Officer / Agent d'exécution de...,2017,samuel,samuel,6

In [21]:
#Extract only text after first space
sunshine_data_df['clean_first_name']=sunshine_data_df['clean_first_name'].str.extract('(^[^\s]+)')

In [22]:
sunshine_data_df.sample(10)

,Sector,Last Name,First Name,Salary Paid,Taxable Benefits,Employer,Job Title,Calendar Year,clean_first_name,clean_alt_first_name,name_length
150774,Hydro/OPG,MOROCHOVE,greg,103141.31,1562.58,Ontario Power Generation,Nuclear Operator,2006,greg,greg,4
641369,Schools,BERGERON,jeannette,109180.67,658.65,Conseil scolaire catholique du Nouvel-Ontario,Direction adjointe d'école,2013,jeannette,jeannette,9
833324,Municipalitites,Haroon,usman,118521.32,815.99,City of Toronto - Police Service,Police Constable,2015,usman,usman,5
921907,Hospitals,Zahn,catherine,672731.19,71284.03,Centre for Addiction and Mental Health,CEO,2016,catherine,catherine,9
250184,Schools,LAMOTHE,roxane,107879.37,342.62,"CDEC, langue française du Centre-Est",Direction école,2008,roxane,roxane,6
1072208,Municipalitites,Jackson,wayne h,158037.10,852.02,City of Peterborough,Director,2017,wayne,wayne h,7
1363943,Municipalitites,Hawkins,ian,146498.46,419.16,City Of Kitchener,First Class Fire Fighter,2019,ian,ian,3
1197109,Hospitals,Cote,catherine,115946.84,0.00,Timmins and District Hospital,Nurse,2018,catherine,catherine,9
196723,Municipalitites,HAK,roy,103755.09,299.68,Regional Municipality of York - Police Services,Sergeant,2007,roy,roy,3
355664,Hydro/OPG,CASSELMAN,jim,101088.53,2468.93,Ontario Power Generation,Technologist,2010,jim,jim,3

In [23]:
#remove all text after white space

# sunshine_data_df['clean_first_name']=sunshine_data_df['clean_first_name'].str.extract('(^[^\s]+)')
# name = sunshine_data_df["clean_first_name"]
# split_string=name.str.split(" ",1)
# substring = split_string[0]
# sunshine_data_df

In [24]:
# # # Cleaning First Name with titles and Replacing Substrings in a Python String
# # # Add each prefix and suffix to remove to a list.
# prefixes_suffixes = ["dr. ", "dr ","-", "jr. ",".", "ms. ", "md. ", "mr. ", "(dr)", "(", ")"]


# # # Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
# for word in prefixes_suffixes:
#     sunshine_data_df["clean_first_name"] = sunshine_data_df["clean_first_name"].str.replace(word,"")

In [25]:
# #Capitalize first letter of First Name
##Capitalize first letter of Last Name
first_name=sunshine_data_df['clean_first_name']
sunshine_data_df['clean_first_name']=first_name.str.capitalize()
sunshine_data_df['clean_first_name']

0            Robert
1          Raymonde
2            Philip
3            Robert
4             Glenn
             ...
1470701       Georg
1470702     Michael
1470703        Peer
1470704      Detlev
1470705        Joel
Name: clean_first_name, Length: 1470703, dtype: object

In [26]:
# #**************To Do****************************************
# #Create a DataFrame of all records with First Name is initial only

# # movies[movies.duration >= 200].genre
# sunshine_data_df.loc[sunshine_data_df.[name_length] <= 2, 'clean_first_name']

In [27]:
#**************To Do****************************************
#Attempt to match using historical records to determine first name

** TO DO ** 
Create a district list of First Names to be used for Machine Learning Model

In [28]:
# #Create a distinct list of clean first names
first_names_df=sunshine_data_df['clean_first_name'].unique()
first_names_df

array(['Robert', 'Raymonde', 'Philip', ..., 'Minglu', 'Johanathan',
       'Myrsini'], dtype=object)

# Last Name column data cleansing

In [29]:
# Convert all sunshine_data_df['First Name'] to str.lower()
# df['Fruits'] = df['Fruits'].str.lower()
sunshine_data_df['Last Name']=sunshine_data_df['Last Name'].str.lower()

In [30]:
#Capitalize first letter of Last Name
last_name=sunshine_data_df['Last Name']
sunshine_data_df['Last Name']=last_name.str.capitalize()
sunshine_data_df['Last Name']

0             Gillett
1              Hanson
2             Killeen
3          Mitchelson
4             Crombie
              ...
1470701         Zoidl
1470702          Zryd
1470703     Zumbansen
1470704         Zwick
1470705    Zylberberg
Name: Last Name, Length: 1470703, dtype: object

# Add new columns

In [31]:
#Create Gender column
sunshine_data_df["gender"] = None

In [32]:
#TO DO - pending decision if we want to attempt predicting age based on first name

# #Create Age column
# sunshine_data_df["age"] = 0

In [33]:
#Create unique employee 'Last, First Name' column
#concatenate Last and First Name
sunshine_data_df["last_first_name"]=(sunshine_data_df["Last Name"]+"_"+sunshine_data_df["First Name"]).str.title()

In [34]:
#Create Total compensation columsn
sunshine_data_df["total_compensation"] = sunshine_data_df['Salary Paid']+sunshine_data_df['Taxable Benefits']

# Prepare for output

In [35]:
# # Reorder the columns in the sunshine_data DataFrame.
sunshine_data_df = sunshine_data_df.reindex(columns=['Calendar Year',
                                                     'Sector' ,
                                                     'Employer',
                                                     'Job Title',
                                                     'last_first_name',
                                                     'Last Name',
                                                     'First Name',
                                                     'clean_first_name',
                                                     'clean_alt_first_name',
                                                     'gender',
#                                                      'age',
                                                     'Salary Paid',
                                                     'Taxable Benefits',
                                                      "total_compensation"]
                                           )

In [36]:
# Rename the columns in the sunshine_data DataFrame.### changed to match 2020 data
sunshine_data_df.rename({'Calendar Year':'year',
                      'Sector':'sector',
                      'Employer': 'employer',
                      'Job Title':'job_title',
                      'Last_First_Name':'last_first_name',
                      'Last Name': 'last_name',
                      'First Name':'first_name',
                      'clean_first_name':'clean_first_name',
                      'clean_alt_first_name':'clean_alt_first_name',
                      'gender':'gender',
#                       'age':'age',
                      'Salary Paid':'salary_paid',
                      'Taxable Benefits':'taxable_benefits',
                      "total_compensation":"total_compensation"
                    }, axis='columns', inplace=True)

In [37]:
# Export to csv 
sunshine_data_df.to_csv("Resources/Clean_SunShine.csv", index=False)
sunshine_data_df.head()

,year,sector,employer,job_title,last_first_name,last_name,first_name,clean_first_name,clean_alt_first_name,gender,salary_paid,taxable_benefits,total_compensation
0,1996,Post Secondary,Algonquin College of Applied Arts and Technology,President,Gillett_Robert,Gillett,robert,Robert,robert,None,127332.0,3633.0,130965.0
1,1996,Post Secondary,Algonquin College of Applied Arts and Technology,VP,Hanson_Raymonde,Hanson,raymonde,Raymonde,raymonde,None,102999.0,5557.0,108556.0
2,1996,Post Secondary,Algonquin College of Applied Arts and Technology,President,Killeen_Philip,Killeen,philip,Philip,philip,None,183482.0,878.0,184360.0
3,1996,Post Secondary,Algonquin College of Applied Arts and Technology,VP,Mitchelson_Robert,Mitchelson,robert,Robert,robert,None,106608.0,5586.0,112194.0
4,1996,Post Secondary,Cambrian College of Applied Arts & Technology,President,Crombie_Glenn,Crombie,glenn,Glenn,glenn,None,111655.0,3177.0,114832.0

In [38]:
sunshine_data_df.dtypes

year                      int64
sector                   object
employer                 object
job_title                object
last_first_name          object
last_name                object
first_name               object
clean_first_name         object
clean_alt_first_name     object
gender                   object
salary_paid             float64
taxable_benefits        float64
total_compensation      float64
dtype: object